@import "./nav.css";
@import "./aboutus_us2.css";

*{
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.background{
  width: 100%;
  /* border: 1px solid purple; */
  margin: 0 auto;
  position: relative;
  font-size: 0;
}

.pic{
  overflow: hidden;
  height: auto;
}

.cover{
  position: relative;
}

.pic img{
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
}

/* 新增背景圖遮罩 */
.pic-cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.all_title{
  /* border: 1px solid orange; */
  /* width: 200px;
  height: 500px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.title{
  /* border: 1px solid blue; */
  font-size: 60px;
  border: 10px solid #EDE0D8;
  padding: 40px 60px;
}

.all_title>p{
  /* border: 1px solid red; */
  font-size: 24px;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 80px;
}

.title p{
  color: #EDE0D8;
}

@media screen and (max-width: 575.9px){
  /* 主頁字體 */
  .title p{
    font-size: 48px;
  }
  .title{
    padding: 40px 40px;
  }
