@import "./nav.css";
@import "./cocktail2.css";
*{
  box-sizing: border-box;
  font-weight: bold;
  text-decoration: none;
}

.background {
  width: 100%;
  height: 100%;
  /* border: 1px solid yellow; */
  margin: 0 auto;
  position: relative;
  font-size: 0px;
}

.pic{
  width: 100%;
  overflow: hidden;
  opacity: .7;
}

.pic img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cover{
  position: relative;
}

.all_title{
  /* border: 1px solid orange; */
  /* width: 200px;
  height: 500px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.title{
  font-size: 60px;
  border: 10px solid #BD3B47;;
  padding: 60px 40px;
  color: #BD3B47;
  white-space: nowrap;
}

.all_title>p{
  /* border: 1px solid red; */
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 80px;
  color: #BD3B47;
}

/* RWD調整 */

@media screen and (min-width: 576px) and (max-width: 767px){
  
}

/* RWD結束 */
