@import "./nav.css";
@import "./cocktail1.css";

*{
  scroll-behavior: smooth;
}


/* 第二塊 */
.background2{
  width: 100%;
  height: 500px;
  /* border: 1px solid purple; */
  margin: 0 auto;
  position: relative;
  background-color: #191C44;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EDE0D8;
}


.fm_bar{
  font-size: 16px;
  display: flex;
  justify-content: center;
  color: #191C44;
  background-color: #EDE0D8;
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 80px;
}

.fm_bar p:nth-child(2){
  padding: 0 60px;
}

.fm_bar a{
  color: #E29C3E;
}

/* 下底線 */
.fm_bar p:last-child{
  border-bottom: 2px solid #191C44;
}


/* 文字 */
.customize_word{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.customize_word h4{
  font-size: 28px;
  margin-top: 100px;
  margin-bottom: 60px;
  color: #EDE0D8;
}

.customize_word p{
  font-size: 18px;
  line-height: 40px;
  color: #EDE0D8;
}


/* 第三塊 */

.background3{
  width: 100%;
  height: auto;
  /* border: 1px solid purple; */
  background-color: #191C44;
  color: #EDE0D8;
  overflow: hidden;    /* 為解決下一步的margin稱不開問題 */
}

.wine_pic div img{
  /* border: 1px solid red; */
  width: 150px;
  height: 180px;
  object-fit: contain;
}

/* 調整文字 */
.background3>a:first-child{
  /* border: 1px solid blue; */
  display: inline-block;
  margin: 80px 0;
  font-size: 20px;
  padding: 20px 30px 20px 50px ;
  background-color: #E29C3E;
  color: #EDE0D8;
  border-radius: 0 30px 30px 0;
}

/* 調整圖片部分的文字 */
.wine_pic{
  /* border: 1px solid blue; */
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.wine_pic div{
  text-align: center;
  margin: 20px 40px;
  padding: 5px 10px;
  cursor: pointer;

  border: 1px solid transparent; /* 以免hover後跑位 */
}

/* 調整按鈕 */
.background3>a:last-child{
  display: block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: #E29C3E;
  color: #EDE0D8;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;

  margin: 80px auto;
}

/* 滑鼠點擊時顯示邊框 */
.wine_pic div:focus{
  border: 1px solid #EDE0D8;
  border-radius: 5px;
}


/* 第四塊 */

.background4{
  width: 100%;
  height: auto;
  background-color: #EDE0D8;
  color: #BD3B47;
  overflow: hidden;    /* 為解決下一步的margin稱不開問題 */
}

.background4>a:first-child{
  /* border: 1px solid blue; */
  display: inline-block;
  margin: 80px 0;
  font-size: 20px;
  padding: 20px 30px 20px 50px ;
  background-color: #E29C3E;
  color: #EDE0D8;
  border-radius: 0 30px 30px 0;
  font-size: 20px;
}

/* 表格文字 */
.wine_flavor{
  margin: 0 auto;
  border-spacing: 35px;
}

.wine_flavor tr td{
  border: 1px solid #BD3B47;
  padding: 20px 40px;
  text-align: center;
  border-radius: 5px;

  cursor: pointer;
}

/* 滑鼠點擊時顯示邊框 */
.wine_flavor tr td:focus{
  color: #EDE0D8;
  background-color: #BD3B47;
}

/* 下一步按鈕 */
.background4>a:last-child{
  display: block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: #E29C3E;
  color: #EDE0D8;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;

  margin: 80px auto;
}

/* 第五塊 */

.background5{
  width: 100%;
  height: auto;
  background-color: #BD3B47;
  color: #EDE0D8;
  overflow: hidden;    /* 為解決下一步的margin稱不開問題 */
}

/* 調整文字 */
.wine_result{
  /* border: 1px solid yellow; */
  margin-top: 80px;
}

.wine_result a:first-child, .wine_result p{
  text-align: center;
  line-height: 60px;
}

.wine_result a:first-child{
  font-size: 24px;
  display: block;
  /* border: 1px solid blue; */
}

.wine_result p{
  font-size: 20px;
}

/* 調整圖片 */
.background5 .wine_result img{
  width: 500px;
  height: auto;
  /* border: 1px solid blue; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* 下方按鈕 */
.background5 .wine_result a:last-child{
  display: block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: #E29C3E;
  color: #EDE0D8;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;

  margin: 80px auto;
}
