.background2{
  width: 100%;
  height: auto;
  /* border: 5px solid yellow; */
  margin: 0 auto;
  position: relative;
  background-color: #BD3B47;
  overflow: hidden;
}

/* 滑鼠滑動改變背景色 */
.change_bg_color{
  background-color: #DB983D;
}

/* 文字 */
 .all_thisislanzi{
  /* border: 1px solid yellow; */
  width: 80%;
  padding: 80px 100px 80px 0;
  color: #EDE0D8;
  margin: 0 auto;
}

.all_thisislanzi>p{
  /* border: 1px solid white; */
  font-size: 50px;
  text-align: right;
  padding: 50px 0;
}

.all_thisislanzi p:nth-child(2n){
  padding-left: 20px;
  opacity: .6;
}

.all_thisislanzi div{
  /* border: 1px solid white; */
  text-align: right;
  font-size: 20px;
  line-height: 50px;
  padding-top: 20px;
}

/* 三杯飲料圖 */

.threedrink{
  height: 800px;
  position: relative;
  color: #EDE0D8;
}

.threedrink_pic{
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  position: relative;
}

.pic2{
  position: relative;
  top: 150px;
}

.threedrink_pic img{
  width: 300px;
  object-fit: cover;
}

/* 中間字 */

.threedrink_txt{
  font-size: 100px;
  text-align: center;
  /* top: 50% ; */
  /* left: 50%; */
  color: white;
  /* transform: translate(-50%,-50%); */
  /* transform: rotate(-10deg); */
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  white-space: nowrap;
}

/* RWD */

@media screen and (min-width:1600px) {
  .all_thisislanzi{
   width: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .all_thisislanzi{
   width: 100%;
   padding: 80px 30px;
  }
  .threedrink_pic img{
    width: 30%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .all_thisislanzi{
   width: 100%;
   padding: 80px 20px;
  }

  .threedrink_pic img{
    width: 30%;
  }

  .threedrink_txt{
    font-size: 80px;
    /* border: 1px solid blue; */
  }
}

@media screen and (max-width: 575.9px){

  .all_thisislanzi{
   width: 100%;
   padding: 80px 20px;
  }

  .all_thisislanzi>div>p{
   font-size: 16px;
   line-height: 35px;
  }

  .threedrink_pic img{
    width: 30%;
  }

  .threedrink_pic {
    padding-top: 70px;
  }

  .threedrink{
    height: 500px;
  }

  .threedrink_txt{
    font-size: 40px;
  }

}
