*{
  margin: 0;
}
/* 為了解決使用bootstrap後，p跑出預設margin */
div p{
  margin: 0;
}

.background_footer{
  width: 100%;
  /* border: 1px solid purple; */
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/* 訂位欄 */
.footer_reserve{
  font-size: 28px;
  width: 100%;
  height: 400px;
  background-color: #E29C3E;
  line-height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 訂位欄 按鈕 */
.footer_btn a{
  display: block;
  text-decoration: none;
  width: 200px;
  height: 60px;
  background-color: #BD3B47;
  color: #EDE0D8;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_btn p{
  font-size: 28px;
}

/* 滑鼠移到要改框線 */
.footer_btn a:hover{
  background-color: #E29C3E;
  border: 2px solid #BD3B47;
  border-radius: 10px;
  color: #BD3B47;
}

/* 訂位欄 調整間距 */
.footer_reserve p:nth-child(2){
  padding-bottom: 50px;
}


/* 連絡我悶 */
/* 文字 */
.footer_contactus{
  /* border: 1px solid black; */
  background-color: rgba(0, 0, 0, .75);
}

.footer_content{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 220px; */
  font-size: 14px;
  color: white;
}

.footer_word p{
  line-height: 28px;
}
.footer_word div:first-child{
  padding-bottom: 10px;
}

.footer_word{
  padding-left: 100px;
}

/* 調整FB跟IG間距 */
.footer_word div:first-child{
  display: flex;
  align-items: center;
}

.footer_word div a img{
  padding-left: 10px;
}

/* 圖片 */
.map a img{
  /* border: 1px solid blue; */
  width: 350px;
  height: 150px;
  border-radius: 2px;
  object-fit: cover;
}

/* logo與背景圖 */
.bg{
  background-image: url(../pictures/index/footer_img2.jpg);
  background-size: 20%;
  /* background-position: left -20px; */
}

.ft_logo img{
  width: 80px;
  height: auto;
  padding: 15px 0;
}

.ft_logo{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba(0,58,44,.9);
}

/* tibame官方文 */
.footer_contactus .tibame_footer{
  padding-bottom: 10px;
  /* border: 1px solid blue; */
}

.footer_contactus .tibame_footer>p{
  font-size: 12px;
  color: white;
  /* border: 1px solid red; */
  text-align: center;
  letter-spacing: 1px;
}

/* RWD調整 */
@media screen and (min-width: 768px) and (max-width: 991px){
  .footer_reserve{
    height: 300px;
  }
  .footer_reserve p:nth-child(2){
    padding-bottom: 30px;
  }

  .map a img{
    width: 280px;
    height: 120px;
  }

  .footer_word{
    padding-left: 50px;
  }
}


@media screen and (min-width: 576px) and (max-width: 767px){
  .footer_reserve{
    height: 300px;
  }
  .footer_reserve p:nth-child(2){
    padding-bottom: 30px;
  }
  .footer_reserve p{
    font-size: 24px;
  }

  .footer_content{
    display: flex;
    flex-direction: column;
  }

  .footer_word p{
    line-height: 20px;
  }
  .map a img{
    margin: 30px 0;
  }
  .footer_word {
    padding-left: 0;
    text-align: center;
  }
  .footer_word div:first-child {
  padding-left: 20%;
  }
}

@media screen and (max-width: 575.9px){
  .footer_reserve{
    height: 250px;
    text-align: center;
  }

  .footer_reserve p:nth-child(2){
    padding-bottom: 20px;
    width: 90vw;
  }

  .footer_reserve p{
    font-size: 20px;
  }

  .footer_content{
    display: flex;
    flex-direction: column;
  }

  .footer_word p, .tibame_footer p{
    line-height: 20px;
  }

  .footer_word {
    padding-left: 0;
    text-align: center;
  }

  .footer_word div:first-child {
  padding-left: 20%;
  }

  .map a img{
    margin: 30px 10px;
  }

  .tibame_footer{
    padding: 0 80px;
  }

}

/* RWD結束 */
