@import "./nav.css";
@import "./index2.css";
@import "./index3.css";
@import "./index4.css";

*{
  box-sizing: border-box;
}

.background{
  font-size: 0;
  width: 100%;
  /* border: 1px solid purple; */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.cover>div>p{
  color: #DB983D;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.cover>div{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* z-index: 100; */
}


/* 背景影片 */
.cover>video{
  /* display: inline-block; */
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* z-index: -1; */
}

/* 背景薄幕 */
.blackbg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* RWD */
@media screen and (max-width: 575px){
/* 第一塊 */
.cover>div>p{
  font-size: 80px;
}

}
