@import "./nav.css";
@import "./menu_food1.css";
@import "./menu_drink3.css";
@import "./menu_drink4.css";
@import "./menu_drink5.css";
@import "../js/fullpage/src/fullpage.js";

*{
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}


.background2{
  width: 100%;
  height: 700px;
  /* border: 1px solid purple; */
  margin: 0 auto;
  position: relative;
  background-color: #DB983D;
  /* background-color: black; */
}

.fm_bar{
  font-size: 16px;
  display: flex;
  justify-content: center;
  background-color: #EDE0D8;
  width: 600px;
  padding: 10px 0;
  border-radius: 25px;
  margin-top: 80px;
  color: #BD3B47;
}

.fm_bar p:nth-child(2){
  padding: 0 80px;
}

.fm_bar a{
  color: #DB983D;
}


.fm_title{
  font-size: 28px;
  /* border: 1px solid blue; */
  text-align: center;
  padding: 100px 0 ;
  letter-spacing: 5px;
  color: #BD3B47;
}

/* 下底線 */
.fm_bar p:last-child{
  border-bottom: 2px solid #BD3B47;
}

/* 調整主廚推薦&熱門 */

.fm_rcm li{
  /* margin-right: 100px; */
}

.fm_info{
  font-size: 20px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  position: relative;
}

.fm_info ul{
  position: relative;
  overflow: hidden;
}

.fm_hot{
  list-style: none;
  background-color: #EDE0D8;
  border-radius: 10px;
  color: #BD3B47;
  width: 350px;
  height: 200px;
  text-align: center;
  padding: 0;
  padding-top: 30px;
}

/* 緞帶 */

.ribbon{
  width: 250px;
  padding: 6px;
  text-align: center;
  /* margin: 0 auto; */
  background-color: #BD3B47;
  position: absolute;
  color: white;
  font-size: 16px;
  transform: rotate(-45deg);
  top: 25;
  left: -80px;
}


/* RWD調整 */

@media screen and (min-width: 1200px){
  .fm_bar{
    width: 40vw;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px){
  
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .fm_bar{
    width: 70vw;
  }

}

@media screen and (min-width: 576px) and (max-width: 767px){
  .fm_bar{
    width: 70vw;
  }

}

@media screen and (max-width: 575.9px){
  .fm_bar{
    width: 80vw;
  }
  .fm_bar p:nth-child(2) {
    padding: 0 10px;
  }

  .fm_title {
    padding: 60px 0;
  }

  .fm_hot {
    margin: 0 20px;

}
}
