@import "./nav.css";
@import "./menu_food2.css";
@import "./menu_food3.css";

*{
  box-sizing: border-box;
  text-decoration: none;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 0px;
}

.background{
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  position: relative;
  height: auto;
}

.pic{
  width: 100%;
  overflow: hidden;
}

.cover{
  position: relative;
}

.cover img{
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
  /* top: -450px; */
  /* opacity: .8; */
}

/* 新增背景圖遮罩 */
.pic-cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

.all_title{
  /* border: 1px solid orange; */
  /* width: 200px;
  height: 500px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 0px;
}

.title{
  font-size: 60px;
  border: 10px solid #E29C3E;
  padding: 40px 60px;
  margin: 0;
}

.all_title>p{
  /* border: 10px solid red; */
  font-size: 24px;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 80px;
  color: #E29C3E;
}

.title p{
  /* border: 10px solid red; */
  color: #E29C3E;
}

/* RWD */
@media screen and (max-width: 575.9px){
  /* 主頁字體 */
  .title P{
    font-size: 48px;
  }
  .title {
    padding: 40px;
  }
